<div class="container">
    <nav>
        <div class="nav-wrapper  teal">
          <div class="logo"><a href="/main" class="brand-logo">Delivery-Kebab</a></div>

          <ul id="nav-mobile" class="right hide-on-med-and-down">

         <a class="waves-effect waves-light btn" href="/main/">HOME</a>
         </ul>
        </div>
      </nav>
</div>
<div class="main-cour-contain">
<div class="container log-cur">
    <div class="">
        <form action="/main/signupcourier" method="post" class="col s6">
            <div>
                <label>Username:</label>
                <input type="text" name="username" class="validate"/>
            </div>
            <div>
                <label>Email:</label>
                <input type="text" name="email" class="validate"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" class="validate"/>
            </div>
            <div>
                <label>Company:</label>
                <input type="text" name="company" class="validate"/>
            </div>
            <div>
                <button class="waves-effect waves-light btn" type="submit" >Sign Up</button>

            </div>
        </form>
    </div>
</div>
</div>
</div>    
