<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script defer src="/js/application.js"></script>

      <title>Delivery-Kebab</title>
       <link rel="shortcut icon" href="https://icons-for-free.com/iconfiles/png/512/burger-131983756831658909.png" type="image/x-icon">
       <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
  </head>
  <body>
   
      <div class="">
          <div class="">
            {{{body}}}
          </div>
      </div>
  </body>
</html>
