body{
  background-image: url(https://image.freepik.com/free-vector/double-hamburger-colored-seamless-pattern_111984-193.jpg);
  background-size: 400px;
  font-size: 18px;
  font-family: 'Nerko One', cursive;
  color: rgb(37, 40, 71);
   
}

h4{
  margin: 0!important;
}

.available-orders{
  background-color:#d9f1ef ;
  min-height: 800px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-image: url();
  background-size: 150px;
  /* opacity:0.25;
  filter:alpha(opacity=25) */
}
.orders{
  text-align: center;
  background-color: #009688 ;
  display: inline-block;
  width: 200px;
  height: 350px;
  margin-left: 45px;
  margin-top: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5%;
  font-size: larger;
}

.orders form {
  position: relative;
  height: 100%;
  padding: 15%;
}
.formBtns {
  position: absolute;
  bottom: 20px;
  margin: auto;
  left: 0;
  right: 0;
}
.img{
  height: 120px;
  border-radius: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 130px;
}

.container-sign-up-courier{
  display: flex;
  background-color:#d9f1ef ;
  margin-top: 10%;
}

.row{
  margin-left: auto;
}

.log-cur{
  display: flex;
  background-color: #d9f1ef;
  align-items: center;
  justify-content: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.main-cour-contain{
  display: flex;
  min-width: 100px;
  min-height: 700px;
  margin: auto;

}

.logo{
  margin-left: 10px;
  
}
